*{
	background-color: white;
}

nav{
	height:60px;
	width:800px;
	margin-left:390px;
	margin-top:-70px;
}

nav:hover{
	  transform: scale(1.3);
	  color:blue;
}

ol{
	display:flex;
	justify-content:space-evenly;
	list-style:none;
    font-family:calibri;
    font-weight:800;
    font-size:25px;
    letter-spacing:3px;
    padding-left:20px;
    text-decoration:none;
}

.logoimage{
	height:65px;
	width:230px;
	background-image:url("https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=608,fit=crop,q=95/Aq20eV79zLfpXV6b/logo-png-mnl7npnlXjHPl9KV.png");
    background-size:cover;
}

* {
  position: relative;
  box-sizing: border-box;
}

.iframely-embed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: white;
}

#app {
  // opacity: 0 !important;
  // visibility: hidden;
  z-index: 100;

  &:hover {
    opacity: 0.8;
  }
}

#app {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding-bottom: 4vmin;
  height: -100vh;
  width: 100%;
  background: #CBC3E3;
  color: black;
}

body {
  display: grid;
  padding: 3vmin;
  background: white;
}

@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

.title {
  padding-left: 1em;
  grid-column: 1 / -1;
  grid-row: 1;

  font-family: "Prata", serif;
  font-size: 5.5vw;
  width: 20%;
  z-index: 2;

  // start

  > .title-inner {
    display: inline-block;
  }
}

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes outer-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: none;
  }
}

@keyframes inner-left {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: none;
  }
}

.cafe,
.mozart {
  animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
  // outline: 1px solid red;
}

// [class*='inner'] {
//   outline: 1px solid blue;
// }

.title-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both;
}

.cafe-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both,
    text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.mozart-inner {
  animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title {
  animation: outer-left 1s 1s ease both;
}

.cafe {
  // start
  > .cafe-inner {
    display: inline-block;
  }
}

.mozart {
  display: inline-block;
}

.image {
  grid-row: 1;
  grid-column: 2;
  margin-left: 10rem;
  opacity: 0.8;

  animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;

  @keyframes image-in {
    from {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  .img {
    display: block;
    height:auto;
    width:100%px;
  }
}

// Replay animation!
body:active * {
  animation: none !important;
}

.intro{
	font-family:calibiri;
	font-weight:800;
	letter-spacing:3px;
	text-align:center;
	font-size:30px;
}
.icons{
	height:150px;
	width:80%;
	background-color:pink;
	margin-left:120px;
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	flex-wrap:wrap;
	flex-grow:2 300px;
}

.icons:hover{
	  transform: scale(1.2);
}

#webD{
	height:300px;
	width:30px;
	background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVoFEhJxCfVYKlhoRgjUQyhphN4CXnqYlpKFJJvPhdfw&s");
	background-size:cover;
}

#AppD{
	height:120px;
	width:120px;
	background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTF7WxA_uUkGrT8eNa1cGeVZOzz8GcxNS4prqps55g-Kw&s");
	background-size:contain;
}

#C{
	height:120px;
	width:120px;
	background-image:url("https://img-b.udemycdn.com/course/240x135/4223756_1ceb_2.jpg");
	background-size:contain;
}

#Cpp{
	height:120px;
	width:120px;
   background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRdH6UAU72N26yZgOGM1Du2I_yCpOOChKQN9dNYpmMzg&s");
   background-size:contain;
}

#python{
	height:120px;
	width:120px;
	background-image:url("https://cdn-icons-png.flaticon.com/512/2621/2621303.png");
	background-size:contain;
}

#AIMachineL{
	height:120px;
	width:120px;
	background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUOnjbUtm7CUWRitRQMDg8zP3Kx3udzNBDbhB9rojkWA&s");
	background-size:contain;
}

#blockchain{
	height:120px;
	width:120px;
	background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQF3XrIG5xVCxBbecVodbbph2gGNIVdzqP2kenWo2mBUw&s");
	background-size:contain;
}

form{
	margin-left:190px;
	margin-top:90px;
}

input[type=text] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid purple;
}

input[type=number]{
	width:70%;
	padding:12px 20px;
	margin:8px 0;
	box-sizing:border-box;
}

input[type=number] {
  border: none;
  border-bottom: 2px solid purple;
}

input[type=radio]{

	padding:12px 20px;
	margin:12px 0;

}

button {
  background-color:#FFC0CB;
  border: none;
  padding: 16px 32px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:30%;
  margin-left:350px;
}

button:hover{
	
	  transform: scale(1.3);
	  
}

a{
	text-decoration:none;
	background-color:#FFC0CB;
	color:black;
	font-weight:600;
	letter-spacing:1.5px;
}

.InternshipC{
	height:300px;
	width:500px;
	margin-left:380px;
	background-image:url("https://lh4.googleusercontent.com/Mtj47FBki3sN42CRNQKafazIhVBKRCWxgk2hx9gtKCQe0h4pmiOTGAGfjetezd5WBCCVpasudksa5vSjAfnBckWlG9AN5qbzReQd25AG5ZjPcJyB_MFsZJd8xI5AF25P6Q=w364");
	background-size:cover;
    margin-top:80px;
}
.InternshipC:hover{
	transform:scale(1.2,1.2);

}
.Statement{
   height:50px;
   width:90%;
   color:black;
   font-family:calibiri;
   font-size:36px;
   font-weight:530;
   letter-spacing:2px;
   margin-left:200px;
}
.footer{
  display:flex;
  margin:4px;
}

.example_e {
border: none;
background: #404040;
color: #ffffff !important;
font-weight: 100;
padding: 20px;
text-transform: uppercase;
border-radius: 6px;
display: inline-block;
margin:14px;
transition: all 0.3s ease 0s;
}

.example_e:hover {
color: #404040 !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: none;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}

h3{
  color:black;
  font-weight:600;
  letter-spacing:3px;
  font-size:30px;
}

h3:hover{
  transform:scale(1,1.2);
  border-bottom: 2px solid purple;
  width:30%;
}

p{
  color:black;
  font-weight:900;
  font-size:20px;
}

p:hover{
  transform:scale(1,1.2);
}